---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { IoArrowForward } from 'react-icons/io5/index.js'
import Masterhead from '../components/Masthead.astro'
import { Image } from '@astrojs/image/components'
import CreatedWithSection from '../components/CreatedWithSection.astro'

const posts = (await Astro.glob('./posts/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masterhead />
      <h1 class="font-mplus text-center">Why did i made this?</h1>
      <Content>
        <section>
          <p class="mb-8 indent-4">
            Well, it's kind of like my own little online scrapbook. Life goes by so fast, you know? I just wanted a cozy place to collect the moments that make it special. 
            This photo album is my digital time capsule—a way to grab hold of snapshots and memories before they slip away. It's not just about the pictures; it's about the stories behind them, 
            the goofy smiles, the adventures, Every pic here has a tale, and every scroll is a step into my journey. 
            Of course, I won't be sharing all my pics—gotta keep some things just for me, this site is more better with phone!
            <!-- enable this sht if u are not insecure about ur self hhaha aj<a 
              href={HOMEPAGE_URL}
              class="inline-flex items-center gap-1 indent-1 text-orange-400 hover:underline underline-offset-2"
            >
              Learn more about me<IoArrowForward className="inline-flex" />
            </a>
            -->
          </p>
        </section>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map(post => (
                <li class="text-center mb-4">
                  <a
                    href={post.url}
                    class="text-orange-500 dark:text-orange-400 xl:text-zinc-900 xl:dark:text-zinc-300 xl:hover:text-orange-400 xl:hover:dark:text-orange-400 relative transition-all duration-300 cursor-pointer filter 2xl:grayscale 2xl:hover:grayscale-0"
                  >
                    <Image
                      class="border border-slate-400 dark:border-zinc-700 rounded-xl "
                      src={post.frontmatter.heroImage}
                      width={720 * 2}
                      aspectRatio={2.0}
                      alt="Thumbnail"
                    />
                    <div class="mt-3 text-xl">{post.frontmatter.title}</div>
                  </a>
                  <div class="opacity-70">{post.frontmatter.description}</div>
                </li>
              ))
            }
          </ul>
        </section>
        <CreatedWithSection />
      </Content>
    </main>
    <Footer />
  </Body>
</html>
